<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script>
    document.documentElement.setAttribute('data-theme', 'dark');
  </script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.9/dayjs.min.js"
    integrity="sha512-q4Xn+ZU2K+dqJPL8a3TiyGsDa31IkR/rLt/w+fy8jLrx8TdXj0dLM1Aq4aPXnOOKxHEya/bD9DePDB2DHm4jJQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <!--
    <script src="https://unpkg.com/lunr/lunr.js"></script>
    <script src="/js/vendor/tinyseg.js"></script>
    <script src="/js/vendor/lunr.stemmer.support.js"></script>
    <script src="/js/vendor/lunr.ja.js"></script>
  -->
  <script src="https://s.hatena.ne.jp/js/HatenaStar.js"></script>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  {{ partial "head/resource-hints.html" . }}
  {{ partial "head/styles.html" . }}
  {{ partial "head/seo/seo.html" . }}
  {{ partial "head/favicons.html" . }}
  {{ partial "head/scripts.html" . }}
</head>
