.code-language {
  position: relative;
  padding: 8px 16px;
  border-radius: 8px 8px 0 0;
  background: #282828;
  color: #f8fafc;
  z-index: 1000;
  top: 32px;
  left: 0px;
  @include font-size('sm');
  font-weight: 600;
  border: none;
  overflow: hidden;
}

.highlight > pre {
  padding: 24px;
  font-size: 0.9rem;
  border-radius: 8px;
  background: var(--code-bg);
  border: 1px solid var(--code-border);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  overflow-x: auto;
  position: relative;

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: var(--color-contrast-lower);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-contrast-low);
    border-radius: 4px;

    &:hover {
      background: var(--color-contrast-medium-low);
    }
  }
}

.highlight {
  .ln {
    border-right: 2px solid var(--color-primary);
    padding-right: 1rem !important;
    margin-right: 1.5rem !important;
    color: var(--color-contrast-medium);
    font-weight: 500;
  }
}
