.code-language {
  position: relative;
  padding: 6px 15px;
  border-radius: 5px;
  background-color: #272822;
  color: #7f7f7f;
  z-index: 1000;
  top: 25px;
  @include font-size('sm');
}

.highlight > pre {
  padding: 10px;
  font-size: 0.9rem;
}
