.toc {
  display: none;
  @include respond-to('x-large') {
    align-self: start;
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: calc(100vh - 90px);
    overflow-y: scroll;
    min-width: 18em;
    max-width: 24em;
  }
}

.toc-header,
.toc-drop-icon {
  @include font-size('sm');
  font-weight: 500;
  margin: 0;
  text-align: center;
}

.toc-contents {
  display: none;
  text-align: left;
  padding-left: 1.2rem;
  @include font-size('sm');

  &--active {
    display: block;
  }

  @include respond-to('x-large') {
    display: block;

    &--active {
      display: none;
    }
  }
}

#TableOfContents {
  font-size: 1.2em;
  line-height: 1.5;
  ul {
    border-left: var(--color-contrast-medium-low) 1px solid;
    list-style-type: none;
    padding-left: 0.5rem;

    li {
      padding-left: 1rem;

      a {
        color: var(--color-text);
        text-decoration: none;
        &:hover {
          color: var(--color-link);
        }
      }
    }
  }
  .toc-link--active {
    color: var(--color-highlight);
  }
}
