.alert {
  padding-top: 0.3rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  margin-left: 0.5rem;
  border-left: 4px solid #ed6a5a;

  h4 {
    color: #ed6a5a;
    font-size: 1.6rem;
    line-height: 1.1;
    margin: 0.7rem 0;
  }
}
