// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem 0;

  @include respond-to('medium') {
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 2rem 3rem;
    padding: 2rem 0;
  }

  @include respond-to('m-large') {
    padding: 2.5rem 0;
    flex-direction: row;
  }
  
  @include respond-to('large') {
    max-width: 900px;
    margin: 0 auto;
    padding: 3rem 0;
    gap: 3rem 4rem;
  }
  
  @include respond-to('x-large') {
    max-width: 1000px;
    padding: 3.5rem 0;
  }
}

.hero-info {
  @include respond-to('medium') {
    flex: 0 1 65%;
  }

  .hero-title {
    display: none;

    @include respond-to('medium') {
      display: block;
    }
    font-weight: 900;
    margin-top: 0;
    color: var(--color-title);
    @include font-size('xl');
  }

  .hero-subtitle {
    color: var(--color-contrast-medium-high);
    @include font-size('base');
  }
}

.hero-owner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;

  @include respond-to('medium') {
    flex: 0 1 30%;
  }

  .hero-avatar {
    max-width: 120px;
    width: 100%;
    height: auto;
    border-radius: 50%;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }

    @include respond-to('medium') {
      max-width: 140px;
    }
  }
}

.home-section-title {
  &::after {
    background: linear-gradient(
      90deg,
      var(--color-primary) 0%,
      var(--color-primary) 60%,
      transparent 100%
    );
    content: '';
    display: block;
    height: 3px;
    position: relative;
    width: 160px;
    top: 8px;
    border-radius: 6px;
    opacity: 0.7;
  }
}

.home-section-posts-title {
  @extend .home-section-title;
  margin: 0;
}

.home-title-dropdown {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
  
  @include respond-to('large') {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
  
  @include respond-to('x-large') {
    max-width: 1000px;
  }
}

#select-posts {
  @include font-size('sm');
  padding: 0.4rem;
  border: 1px solid var(--color-contrast-medium-low);
  border-radius: 5px;
  color: var(--color-contrast-high);
  background-color: var(--color-contrast-lower);
}

.see-more {
  margin-top: 30px;
  
  @include respond-to('large') {
    display: block;
    margin: 40px auto 0;
    width: fit-content;
  }
}

