.post-entry {
  margin: 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  @include respond-to('medium') {
    margin: 20px 40px;
  }
}

.post-entry-divider {
  background-color: var(--color-contrast-low);
  content: '';
  display: block;
  height: 1px;
  position: relative;
}

.post-list-title {
  font-weight: 400;
  margin: 0;
  @include font-size('md');

  a {
    text-decoration: none;
    color: var(--color-contrast-high);

    &:hover {
      color: var(--color-primary);
    }
  }
}

.post-list-summary {
  @extend .summary-text;
  @include font-size('base');
  margin: 10px 0 0 0;
}

.post-list-meta {
  @extend .meta-text;
  margin-top: 10px;
}

.post-list-dates {
  font-weight: 400;
}

.post-list-categories {
  display: inline-flex;
  column-gap: 10px;
}

.post-entry-main {
  flex: 1;
}

.post-entry-image {
  display: flex;
  margin-left: 0.5rem;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  width: 200px;
  overflow: hidden;

  display: none;
  @include respond-to('medium') {
    display: block;
  }
}

.post-list-image {
  max-height: 130px;
  width: 100%;
  border-radius: 5px;
  padding: auto;
  flex-grow: 0;
}

.list-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
