<!-- Hatena Bookmark -->
{{ $title := .Title }}
{{ $path := printf "%s" .RelPermalink }}
{{ $url :=
  printf "%s" .Permalink
}}
{{ $body := print $title ", by " .Site.Title "\n"
  .Params.description "\n\n" $url "\n"
}}


<div class="hatena">
  <div class="hatena-bookmark">
    <a
      href="https://b.hatena.ne.jp/entry/s/blog.smallkirby.com{{ $path }}"
      class="hatena-bookmark-button"
      data-hatena-bookmark-layout="basic-label-counter"
      data-hatena-bookmark-lang="en"
      title="このエントリーをはてなブックマークに追加"
      ><img
        src="https://b.st-hatena.com/images/v4/public/entry-button/button-only@2x.png"
        alt="このエントリーをはてなブックマークに追加"
        width="20"
        height="20"
        style="border: none"
    /></a>
    <script
      type="text/javascript"
      src="https://b.st-hatena.com/js/bookmark_button.js"
      charset="utf-8"
      async="async"
    ></script>
  </div>
  <div class="hatena-star-area" id="hatena-star">
    <script
      type="text/javascript"
      src="https://s.hatena.ne.jp/js/HatenaStar.js"
    ></script>
    <div id="hatena-stars"></div>
    <script type="text/javascript">
      Hatena.Star.SiteConfig = {
        entryNodes: {
          'section#post-container': {
            uri: 'h1#post-title a',
            title: 'h1#post-title',
            container: 'div#hatena-stars',
          },
        },
      };
    </script>
  </div>
</div>
