<a href="{{ .Permalink }}" class="post-entry-link">
  <div class="post-entry">
    <div class="post-entry-main">
      <h3 class="post-list-title">{{ .Title }}</h3>
      <div class="post-list-meta">
        {{ partial "posts/post-meta.html" . }}
        {{ with .Params.categories }}
          <div class="post-list-categories">
            {{ range . }}
              <span class="category-tag" data-category="{{ . | urlize }}">{{ . }}</span>
            {{ end }}
          </div>
        {{ end }}
        {{ partial "general/label-drafts.html" . }}
      </div>
      <p class="post-list-summary">
        {{- with .Params.Summary -}}
          {{- . -}}
        {{- else -}}
          {{- .Description -}}
        {{- end -}}
      </p>
    </div>
    <div class="post-entry-image">
      {{ with .Params.images }}
        {{ $imgurl := printf "%s%s" $.Permalink (index $.Params.images 0) | absURL }}
        <img src="{{ $imgurl }}" class="post-list-image" />
      {{ else }}
      {{ end }}
    </div>
  </div>
</a>
