<section class="section">
  {{ $num := .Get 0 }}
  {{ if not $num }}
    {{ $num = 10 }}
  {{ end }}
  {{ range (where site.RegularPages "Section" "posts" | first $num) }}
    <div
      class="post-entry-filter entry--{{ replace .CurrentSection.RelPermalink "/" "" | lower }}"
    >
      {{ partial "posts/post-entry.html" . }}
      <div class="post-entry-divider"></div>
    </div>
  {{ else }}
    {{ partial "general/fallback-text.html" . }}
  {{ end }}
  <a class="btn-secondary see-more" href="{{ "posts/" | relURL }}"
    >More Posts</a
  >
</section>
